.landing-page {
  background-image: url('../../../public/img/fondo2a.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.titles {
  width: 70%; 
  max-width: 600px; 
  margin-bottom: 20px; 
}

.subtitle {
  font-size: 22px;
  animation: changeColor 5s infinite; 
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 75px #00ff00;
}


@keyframes changeColor {
  0% { color: green; } 
  25% { color: rgb(255, 187, 0); } 
  50% { color: rgb(0, 255, 42); } 
  75% { color: yellow; } 
  100% { color: rgb(0, 10, 0); }
}



.enter-button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff; 
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  animation: changeColor 5s infinite; 
  text-shadow: 0 0 5px hwb(0 0% 0%), 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 75px #ff0000;

}



.enter-button:hover {
  background-color: transparent; 
  animation: rotateImage 1s infinite linear; 
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}
